#subscriptions-container {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 70px;
    padding-bottom: 70px;
}

.transferlist-paper {
    width: 250px;
    height: 500px;
    margin: auto;
    overflow: auto;
}

.alert {
    max-width: 500px;
}

.arrow {
    border-width: 10px;
    margin: 10px !important;
}

.arrow-text {
    font-size: 16px;
    padding-top: 3px;
}