.logged-in-class {
  height: 50vh !important;
}

@media only screen and (max-device-width: 640px) {
  .logged-in-class {
    height: 70vh !important;
  }
}


#banner {
  color: white;
  z-index: 150;
}

#banner-container {
  background: url("vancity.jpg");
  background-color: #192630;
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  z-index: 100;
  width: 100%;
  opacity: 1;
  display: table;
  position: relative;
  height: 100vh;
}

#edge-banner {
  display: hidden;
}

/* IE 10 and 11 */
@supports (-ms-ime-align: auto) {
  #banner-container {
    opacity: 0.1;
  }

  #edge-banner {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #192630;
  }
}

.welcome-text {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-text.logged-in-class {
  top: 120px;
}

.banner-title-text {
  font-size: 48px;
  line-height: 0.6;
  max-width: 80%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.translu {
  opacity: 0.4;
}

.banner-descr-text {
  margin-top: 20px;
  font-size: 18px;
  opacity: 0.6;
  width: 60%;
  min-width: 350px;
  margin: 0 auto;
}

.line {
  display: inline-block;
}

.scroll-indication {
  margin-top: 80px;
  opacity: 0.6;
}

@media only screen and (max-width: 700px) {
  #banner {}

  #banner-container {}

  .banner-title-text {
    font-size: 36px;
    line-height: 0.4;
  }

  .banner-descr-text {
    font-size: 16px;
  }
}

@media only screen and (max-height: 500px) {
  .welcome-text {
    top: 20%;
  }
}

@media only screen and (max-device-width: 640px) {

  .emphasis.translu.play-font {
    font-size: 36px !important;
  }

  #banner {}

  #banner-container {}

  .banner-title-text {
    font-size: 28px;
    line-height: 0.9;
  }

  .banner-descr-text {
    margin-top: 20px;
    font-size: 16px;
    min-width: 0px;
    width: 80%;
  }
}