.tag {
  display: inline-block;
  background-color: #70acb1;
  color: white;
  font-weight: 500;

  /* the padding here is funky */
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 4px;

  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 0.8em;
  border-radius: 3px;

  transition: background-color 0.3s;
}

.tag:hover {
  background-color: #f15690;
  transition: background-color 0.8s;
}