@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Tajawal:500,800&display=swap");

@font-face {
  font-family: "Circular Book";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/circular-book.otf") format("opentype");
}

:root {
  --main-color: #3e52d9;
  --main-color-light: #6874c4;
  --bg-color-white: #ffffff;
  --bg-color-gray: rgb(244, 240, 240);
}

.section-heading {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  color: #59606d;
}

body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2fcfc;
}

::-moz-selection {
  background: #f15690;
  color: white;
}
::selection {
  background: #f15690;
  color: white;
}

.main-site-title:hover {
  text-shadow: 1px 1px #f15690;
  text-decoration: underline;
  transition: text-shadow 1s;
}

.emphasis {
  color: #f15690;
  font-weight: bold;
}

.taj-font {
  font-family: "Tajawal", sans-serif;
}

.play-font {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.blu {
  color: #31debe;
}

#navbar-bg {
  background-color: #192630;
  height: 58px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -10;
}

@media only screen and (max-width: 593px) {
  #navbar-bg {
    height: 48px;
  }
}
